@import "./../lib/rcrumbs/less/jquery.rcrumbs.less";


.breadcrumb {
  
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 500;
  background:  @primary-color;

    a,
    .divider {
        font-family: @font-family;
        font-size: @sub-title-font-size;
        color: @white !important;
        line-height: 160%;
        cursor: pointer;
    }
    
    
}
 