<div class="rcrumbs" id="breadcrumbs">
    <ul>
        {{#each models}}
        <li><a data-breadcrumb-id="{{this._id}}">{{this.title}}</a><span class="divider">{{../divider}}</span></li>
        {{/each}}
    </ul>
</div>
